<div dir="ltr" style="text-align: left; font-family: Verdana; font-size: 13px;" trbidi="on">
<div>
<span style="float: left; text-align: left;">Previous chapter: <a href="http://al-francis.blogspot.in/">Index</a></span>
 <span style="float: right; text-align: right;">Next Chapter: <a href="http://al-francis.blogspot.com/2015/07/002-setting-up-python.html">Setting up Python</a></span>
</div>
<br />
<br />
<p>
I really need a hobby and I've been trying to decide on something and I got to thinking: How about learning a new language? I tried Spanish first but that didn't happen. We'll skip that cause that's not a happy story. I work with Java everyday and I'd like to do something different when I'm free.
</p>
<p>For reasons I don't remember I've heard people say that Python is a lot simpler and a whole lot powerful than Java and that I should take a look at it for my new projects. So let's evaluate it and see how good it really is! The goal is to learn basics and write some tangible program that you can use in reality, we'll figure out what it is as we learn</p>
<p>Okay, let's start with the basics.</p>

<h2>What is Python?</h2>
<p>Python is a high level interpreted programming language which supports almost all programming methods such as Object oriented, functional, structured, aspect-oriented, etc., I read the wikipedia page of Python and couldn't find a clear area where Python excels. Then realised that is Python's strength. It is a jack of all trades and if the programmer is good enough it can be a master of them all.</p>
<p>What I know is Java and JavaScript and about databases. I know a little C from when I took a programming paper in college, So I'll approach Python by comparing the concepts from Python to what I already know to make it a little simpler. Python as I understand it is very simple to write and has to be easy to read than most other languages.</p>

<h2>About Python Syntax</h2>
<ul>
<li>It uses indentation for code grouping, no more curly braces</li>
<li>There is no semi-colons at the end of every statement, finally!</li>
<li>It's dynamically typed, no declaration of variables. You can directly assign values to variable names and the type is derived from that much like JavaScript.</li>
<li>It's a strongly typed language like Java, so we have to manually cast items and adjust behaviour, it wouldn't automatically convert or cast.</li>
<li>It's also is based on duck-typing, which means objects from different classes can be interchanged if they have the desired method in both.</li>
<li>Python is also very extensible, like Java, there are many libraries which can be used to extend the capabilities of Python's core. </li>
</ul>

<p>The code written in python should be easily readable without much clutter. So it will be a lot better to understand old code unlike languages like Objective-C or C++.</p>
<p>Let's discuss more about Python after I've learnt how to install it and run some basic stuff.</p>
<br />
<br />
<br />
<div>
<span style="float: left; text-align: left;">Previous chapter: <a href="http://al-francis.blogspot.in/">Index</a></span>
 <span style="float: right; text-align: right;">Next Chapter: <a href="http://al-francis.blogspot.com/2015/07/002-setting-up-python.html">Setting up Python</a></span>
</div>
</div>