<div dir="ltr" style="text-align: left; font-family: Verdana; font-size: 13px;" trbidi="on">
<div>
<span style="float: left; text-align: left;">Previous chapter: <a href="http://al-francis.blogspot.in/2015/07/python-basics-001-introduction-to.html">Introduction</a></span>
<span style="float: right; text-align: right;">Next Chapter: <a href="http://al-francis.blogspot.com/2015/07/python-basics-003-print-function-and.html">Hello World!</a></span>
</div>
<br />
<br />
<br />
<h1>Setting up Python</h1>

<p>Before moving any further let's install and setup Python in our system.</p>

<p>Python comes in two flavours, 2.x and 3.x. The original 2.x series was re-written and 3.x was born. Python 3 was the first release which not backward compatible and forced a lot of syntax changes and refactoring on the existing users, so most of the features in 3.x was ported back to 2.x series and they're almost indistinguishable except for some syntax differences. 2.x is still more popular than 3.x series, however to stay ahead of the times, we'll go for learning Python 3.</p>

<p>As of now the latest version of Python 3 is 3.4. To install Python 3.4, go to <a href="https://www.python.org/downloads/">https://www.python.org/downloads/</a></p>

<p>Installation instructions are also available in the same page and it is pretty straightforward. Python comes preinstalled with most operating systems but it is usually 2.7, So we'll go ahead and install Python 3.4.</p>

<p>Go to your terminal/Command prompt and type: python and press enter to see if Python is installed and is in path. Since we're installing  Python 3, we have to use python3 as the command in the terminal.</p>
<div style="background-color: #2b2b2b; color: #ffffff;">
<pre><code>
$ python3
Python 3.4.3 (v3.4.3:9b73f1c3e601, Feb 23 2015, 02:52:03)
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
>>>
</code></pre>
</div>
<p>Executing python3 will launch the python interpreter and you can interactively type python commands and get output printed on the console.</p>

<p>Unlike java or C, the Python interpreter doesn't require you to create a file, compile and execute it. You can straight away start typing and get your results in the command window.</p>

<p>The interpreter interface is just for debugging and some initial or standalone function or module which you may want to incorporate into a codebase or a program. The interpreter is what runs the Python script so it is needed. However we will write the code in *.py files and execute them using the interpreter command, which is python3</p>
<br />
<br />
<p>References:</p>
<ol>
<li><a href="https://www.youtube.com/watch?v=oVp1vrfL_w4">https://www.youtube.com/watch?v=oVp1vrfL_w4</a></li>
<li><a href="https://wiki.python.org/moin/Python2orPython3">https://wiki.python.org/moin/Python2orPython3</a></li>
<li><a href="https://docs.python.org/3/whatsnew/3.0.html">https://docs.python.org/3/whatsnew/3.0.html</a></li>
<li><a href="https://www.python.org/downloads/">https://www.python.org/downloads/</a></li>
</ol>
<br />
<br />
<br />
<span style="float: left; text-align: left;">Previous chapter: <a href="http://al-francis.blogspot.in/2015/07/python-basics-001-introduction-to.html">Introduction</a></span>
<span style="float: right; text-align: right;">Next Chapter: <a href="http://al-francis.blogspot.com/2015/07/python-basics-003-print-function-and.html">Hello World!</a></span>
</div>
