<div dir="ltr" style="text-align: left; font-family: Verdana; font-size: 13px;" trbidi="on">
<div>
<span style="float: left; text-align: left;">Previous chapter: <a href="">Data Types</a></span>
 <span style="float: right; text-align: right;">Next Chapter: <a href="http://al-francis.blogspot.com/2015/07/python-basics-005-variables.html">Variables</a></span>
</div>
<br />
<br />
<br />
<h1>004 - PyCharm and other IDEs</h1>
<p>Using notepad and then fumbling around the command line are all necessary skills to call yourself a programmer, however once you know how to do them, you don't have to always do it the same way. We can move on to IDEs which will make our life a lot easier.</p>

<p>Python has a lot of IDEs[1][2] and one of my favourites is PyCharm.</p>

<p>For beginners PyCharm I feel is the easiest of all IDEs and you can get you code running in a very short time.</p>

<p>Downloads are available here: <a href="https://www.jetbrains.com/pycharm/download/">https://www.jetbrains.com/pycharm/download/</a> and community edition is free and open source. The professional edition is not needed in this early stage. The professional edition license is also free if you're a student or operating a open source project. </p>

<p>It is a pretty straightforward installation and the installer is available for windows, mac and linux operating systems.</p>
<p>Here's the <a href="https://www.jetbrains.com/pycharm/quickstart/">quick start guide</a>[3] for anything you might need to configure PyCharm. </p>
<p>You can also get a lot of demos and videos in <a href="https://www.jetbrains.com/pycharm/documentation/">PyCharm website</a>[4].

<h2>Working with PyCharm:</h2>
<p>You can open a project or create just a Python file using <code>File -> new</code>.</p>
<p>Once created, you can go ahead and type the same sample code we discussed in the previous post.</p>
<p>Use the play button to run the script.</p>
<p>The output will be displayed in the bottom console window area.</p>

<p>That's pretty much all you need to start coding in PyCharm.</p>
<br />
<p>References:</p>
<ol>
<li><a href="https://wiki.python.org/moin/IntegratedDevelopmentEnvironments">https://wiki.python.org/moin/IntegratedDevelopmentEnvironments</a></li>
<li><a href="http://pedrokroger.net/choosing-best-python-ide/">http://pedrokroger.net/choosing-best-python-ide/</a></li>
<li><a href="https://www.jetbrains.com/pycharm/quickstart/">https://www.jetbrains.com/pycharm/quickstart/</a></li>
<li><a href="https://www.jetbrains.com/pycharm/documentation/">https://www.jetbrains.com/pycharm/documentation/</a></li>
</ol>
<br />
<br />
<br />
<div>
<span style="float: left; text-align: left;">Previous chapter: <a href="">Data Types</a></span>
 <span style="float: right; text-align: right;">Next Chapter: <a href="http://al-francis.blogspot.com/2015/07/python-basics-005-variables.html">Variables</a></span>
</div>
</div>
